<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <title>Per Aspera Ad Astra</title>
  </head>
  <%= render 'layouts/navigation_bar' %>
  <body>
    <%= render 'layouts/notices_and_alerts' %>
    <%= yield %>
  </body>
</html>
